body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /*width: 80%;*/
  font-family: 'Merriweather', serif;
}

.header {
    margin: 0 auto;
    width: 39%;
}
.header-title {
    font-size: xx-large;
}
.header-text {
    text-align: justify;
}

.header-image {
    float: left;
    width: 20%;
    height: 20%;
    margin-right: 9px;  
}

/*.sidenav {
    width: 20%;
    margin-top: 8px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #f44253;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #ccc;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}
*/
.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}